html, body {
  height: 100%;
  width: 100%;
}
* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
body {
     background-color: #344a72;
     background-size: cover;

}
.registrationpage {
                position: absolute;
               top: 50%;
               left: 50%;
               transform: translate(-50%, -50%);
                width: 400px;
}
.registrationpage h1 {
font-size: 30px;
text-align: center;
text-transform: uppercase;
margin: 40px 0;
}
.registrationpage p {
 display: flex;
 margin-top: 20px;
 font-size: 18px;
}
.registrationpage input {
 width: 100%;
 padding: 7px;
 border: none;
 border: 1px solid gray;
 border-radius: 6px;
 outline: none;
}
.registrationpage button {
 font-size: 20px;
 font-weight: bold;
 margin: 20px 0;
 padding: 10px 15px;
 width: 50%;
 border: 0;
 border-radius: 5px;
 background-color: #49c1a2;
}
#gender {
  font-size: 16px;
   padding: 15px 10px;
   width: 100%;
   border: 0;
   border-radius: 5px;
}
#phone {
 font-size: 16px;
 padding: 15px 10px;
 width: 100%;
 border: 0;
 border-radius: 5px;
}
#terms {
 width: 25%;
 margin: 10px 0;
 background-color: #fff;
 font-size: 7px;
 padding: 10px 15px;
 border: 0;
 border-radius: 5px;
}
.registrationpage button:hover {
 color: red;
}

.Loginbox {
 width: 360px;
 height: 280px;
 margin: auto;
 border-radius: 3px;
 background-color: white;
}

.para {
 text-align: center;
 color: black;
 font-size: 15px;
 margin-top: -10px;
}

.para a {
 color: #49c1a2;
}

h1 {
 text-align: center;
 padding-top: 15px;
}


form {
 width: 300px;
 margin-left: 20px;
}

form label {
 display: flex;
 margin-top: 20px;
 font-size: 18px;
}

form input {
 width: 100%;
 padding: 7px;
 border: none;
 border: 1px solid gray;
 border-radius: 6px;
 outline: none;
}

input[type="button"] {
 width: 320px;
 height: 35px;
 margin-top: 20px;
 border: none;
 background-color: #49c1a2;
 color: white;
 font-size: 18px;
}

p {
 text-align: center;
 padding-top: 20px;
 font-size: 15px;
}